{{!-- <h1>Edit Pet</h1>
<form action="/pet/{{pet.id}}/edit" method="POST">
   <label> Name
      <input type="text" name="name" value='{{pet.name}}'>
   </label>
   <br>
<label> Add a Human
      <input type="text" name="newHuman">
   </label>
   <br>
<label> Remove a Human
      <input type="text" name="removeHuman">
   </label>
<br>
   <button class="button-34" role="button" type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}} --}}

{{! TEST NEW FORM }}
<div id="edit-pet">
  <div id="edit-pet-form-parent">
    <h2>Edit {{pet.name}}'s profile. <br />Add and remove humans</h2>

    <form
      action="/pet/{{pet.id}}/edit"
      method="POST"
      enctype="multipart/form-data"
    >
      <div>
        <div>
          <input
            type="text"
            class="form-control"
            name="name"
            value="{{pet.name}}"
            {{! placeholder="Did you re-name your pet?" }}
          />
        </div>
      </div>
      <br />
      <div>
        <div>
          <input
            type="text"
            class="form-control"
            name="newHuman"
            placeholder="Add a human from this Pet's profile"
          />
        </div>
      </div>
      <br />
      <div>
        <div>
          <input
            type="text"
            class="form-control"
            name="removeHuman"
            placeholder="Remove a human from this Pet's profile"
          />
        </div>
      </div>
      <div>
        <br />
        <div>
          <div>
            <input type="file" name="pet-img" />
          </div>
        </div>

      </div>
      <div>
        <br />
        <br />
        <div>
          <button class="button-34" role="button" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}