<h1>Edit Pet</h1>
<form action="/pet/{{pet.id}}/edit" method="POST">
   <label> Name
      <input type="text" name="name" value='{{pet.name}}'>
   </label>
   <br>
<label> Add a Human
      <input type="text" name="newHuman">
   </label>
   <br>
<label> Remove a Human
      <input type="text" name="removeHuman">
   </label>
<br>
  {{!--  <label for="humans">Humans</label>
  <select name="humans" id="humans" multiple size="5">
      {{#each users}}
  <option value={{this._id}}>{{this.username}}</option>
  {{/each}}
</select> --}}

   <button class="button-34" role="button" type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}