<h1>{{name}} Profile</h1>
<br>

<div>
    <img src="{{this.imageUrl}}" alt="pet photo" style="width:100px">
    <br>
    <h2>Humans:</h2>
   {{#each this.humans}}
    <p>{{this.username}}</p>
     {{/each}}
  <br>
  <h3>{{name}}'s To Do List</h3>

<form action="/pet-profile/{{_id}}" method="POST">
<label> New Task
      <input type="text" name="content">
   </label>

 <button class="button-34" role="button" type="submit">+</button>
</form>

<br>
<h3>Current Tasks:</h3>

 {{#each tasks}}
 <ul> 
    <li>{{content}}</li>
    <form action='/pet-profile/{{_id}}' method='post'>
  <button class="button-34" role="button" type='submit'>x</button>
</form>
    </ul>
     {{/each}}

