<h1>{{pet.name}} Profile</h1>
<br>

<div>
    <img src="{{pet.imageUrl}}" alt="pet photo" style="width:100px">
    <br>
    <h2>Humans:</h2>
   {{#each pet.humans}}
    <p>{{this.username}}</p>
     {{/each}}
  <br>
  <h3>{{pet.name}}'s To Do List</h3>

<form action="/pet-profile/{{pet._id}}" method="POST">
<label> New Task
      <input type="text" name="content">
   </label>

 <button class="button-34" role="button" type="submit">+</button>
</form>

<br>
<h3>Current Tasks:</h3>

 {{#each pet.tasks}}
 <ul> 
    <li>{{content}}</li>
    <form action='/pet-profile/{{@root.pet._id}}/tasks/{{_id}}/delete' method='post'>
  <button class="button-34" role="button" type='submit'>x</button>
</form>
    </ul>
     {{/each}}

